.xxx:hover::after{
    width: 300px;
    background: rgba(29, 173,231);
  }
  .xxx:after{
    content: "";
    display: block;
    height: 100%;
    background:  rgba(35, 41, 43);
    width: 4px;
    position: absolute;
    right: 0;
    top: 0;
    /*  下面三句实现  */
    transition-timing-function:ease-in-out;/* 最重要的，规定动画出现与消失 */
    transition-property:all;/* 规定什么属性发生动画 */
    transition-duration: 2s;/* 动画时间 */
  }
  .xxx{
    background: gray;
    width:300px;
    height: 300px;
    position: relative;
  }
