.loading{
  width:200px;
  height:200px;
  position:relative;
}

.loading::before,.loading::after{
  content:'';
  position: absolute;
  width:1px;
  height:1px;
  background: black;
  border-radius:50%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  animation: s 1.5s linear infinite;
  
}
.loading::after{
  animation-delay:0.75s;
}
@keyframes s{
  0%{
    opacity:1;
    transform: scale(0,0);
  }
  100%{
    opacity:0;
    transform: scale(100,100);
  }
}