*{
    margin: 0; padding:0; box-sizing: border-box;
}
*::after{
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}

.code-wrapper{
    flex:1;
    height: 50%;
    overflow: hidden;
}
#code{
    overflow: hidden;
    height: 100%;
    padding: 30px;
}
.preview-wrapper{
    flex:1;
    height: 50%;
}

.wrapper{
    width: 100%;
    height: 166px;
    position: relative;
}
.actions{
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}
.actions>button{
    margin: 10px;
    background: #ddd;
}